@import url(./vendor/fonts/fonts.css);

.font__normal {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
}

.font__bold {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

.font__extra-bold {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
}

.page {
  background-color: #2A2C2F;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.header {
  max-width: 1184px;
  padding-top: 28px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 176px;
  height: 52px;
}

.header__lang-links{
  display: flex;
  justify-content: space-between;
 }

.header__lang-link {
  margin-right: 18px;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link_type_ru {
  text-decoration: underline;
}

.header__lang-link_type_en {
  text-decoration: none;
}

.lead {
  max-width: 984px;
  margin: 56px auto 0;
  display: flex;
  flex-direction: column;
}

.lead__title {
  margin: auto;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  margin: 64px auto 0;
  max-width: 100%;
  padding-bottom: 100;
}

.lead__caption {
  margin: 8px 0 0;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro {
  max-width: 690px;
  margin: 0 auto;
  padding: 92px 442px 0 148px;
  display: flex;
  flex-direction: column;
}

.intro__title {
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #FFFFFF;
}

.intro__text {
  margin: 40px 0 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
}

.photo-grid {
  margin: 92px auto 0;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.photo-grid__image {
  max-width: 100%;
}

.places {
  margin: 92px auto 0;
  max-width: 984px;
}

.place {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 460px);
  column-gap: 40px;
  row-gap: 48px;
}

.place:first-child {
  margin-top: 0;
}

.places__title {
  margin: 0;
  max-width: 460px;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

.places__website {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 460px;
}

.places__url-heading {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
}

.places__link {
  margin-top: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity .3s ease-in-out;
}

.places__link:hover {
  opacity: .8;
}

.places__image {
  max-width: 460px;
}

.places__paragraphs {
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  max-width: 460px;
}

.places__paragraph {
  margin: 26px;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}

.places__paragraph:first-child {
  margin-top: 26px;
}

.cover {
  max-width: 1184px;
  margin: 92px auto 0;
}

.cover__title {
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 72px;
  line-height: 76px;
}

.cover__subtitle {
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  margin: 32px auto 0;
  color: #FFFFFF;
}

.cover__background {
  position: relative;
  padding: 20% 0 20%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-image: url(/images/cover-trains.jpg);
  background-size: cover;
  z-index: 10;
}

.cover__background::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -10;
}

.cover__background:hover::after{
  transition: .5s ease-in-out;
  opacity: .8;
}

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1184px;
  margin: 92px auto 0;
  padding-bottom: 24px;
}
.footer__links {
}

.footer__link {
  margin-right: 18px;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  transition: opacity .3s ease-in-out;
}

.footer__link:hover {
  opacity: .8;
}

.footer__link:last-child{
  margin-right: 0
}
.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
}