.cover__background {
  width: 100%;
  min-height: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  box-sizing: border-box;
  z-index: 10;
}

.cover__background::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2A2C2F;
  opacity: .3;
  z-index: -10;
}

.cover__background:hover::after{
  transition: .5s ease-in-out;
  opacity: .8;
}

@media screen and (max-width: 1279px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__background {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 200px;
  }
}